<div style="margin-top: 5px;">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-light" style="font-family: Abel, sans-serif;">OUR ROOMS</h2>
                    <p class="text-light w-lg-50" style="font-family: Abel, sans-serif;">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 mt-2">
                    <div class="text-light"><span class="text-light">CHECK IN DATE</span></div>
                    <div><input class="bg-dark-subtle" type="date" style="width: 300px;height: 35px;"></div>
                </div>
                <div class="col-xxl-3 mt-2">
                    <div><span class="text-light">CHECK OUT DATE</span></div>
                    <div><input class="bg-dark-subtle" type="date" style="width: 300px;height: 35px;"></div>
                </div>
                <div class="col text-start mt-2" style="position: static;display: block;">
                    <div class="mt-3"><button class="btn btn-primary mt-2" type="button">CHECK AVAILABILITY</button></div>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 mt-5">
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" alt="couch near painting" style="height: 200px;" src="~/img/photo-1505691938895-1758d7feb511.jpg">
                        <div class="card-body bg-dark-subtle border rounded-0 p-2">
                            <h4 class="card-title" style="font-family: Abel, sans-serif;">Single Room</h4>
                            <p class="card-text" style="font-family: Abel, sans-serif;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Max Occupancy :</p>
                                </div>
                                <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">1 Person</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6">
                                    <p class="fw-bold">Price :</p>
                                </div>
                            <div class="col-xxl-6" style="text-align:end">
                                    <p class="fw-bold text-primary">$ 95.00</p>
                                </div>
                                <div class="col mt-2" style="text-align: right;"><button class="btn btn-primary border rounded-0" type="button" style="width: 140px;">BOOK</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>