<footer class="pt-5 shadow bg-dark-subtle border borde-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-3 text-white text-uppercase fw-bold">Services</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Cleaning</a></li>
                    <li><a class="link-light" href="#">Repair</a></li>
                    <li><a class="link-light" href="#">Delibery</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-3 text-white text-uppercase fw-bold">Products</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Features</a></li>
                    <li><a class="link-light" href="#">Pricing</a></li>
                    <li><a class="link-light" href="#">Integration</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-3 text-white text-uppercase fw-bold">About</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Company</a></li>
                    <li><a class="link-light" href="#">Team</a></li>
                    <li><a class="link-light" href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-3 text-white text-uppercase fw-bold">Careers</h3>
                <ul class="list-unstyled">
                    <li><a class="link-light" href="#">Job openings</a></li>
                    <li><a class="link-light" href="#">Employee success</a></li>
                    <li><a class="link-light" href="#">Benefits</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">Rolimer Pono © 2024&nbsp;(This webpage is for dev purposes only)</p>
                <ul class="list-inline mb-0 text-white">
                    <li class="list-inline-item"><span class="bi bi-universal-access-circle"></span></li>
                    <li class="list-inline-item"><span class="bi bi-github"></span></li>
                    <li class="list-inline-item"><span class="bi bi-linkedin"></span></li>
                    <li class="list-inline-item"><span class="bi bi-twitter"></span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>