@inject UserManager<ApplicationUser> _UserManager
@inject SignInManager<ApplicationUser> _SignInManager

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]RPRENTAL</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">@* 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> *@
    <link rel="stylesheet" href="~/css/datables.bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">  
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body style="font-family: Abel, sans-serif;">
    <nav class="navbar navbar-expand-md sticky-top shadow bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">RP HOTEL</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="nav-link active" href="#">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (_SignInManager.IsSignedIn(User) && User.IsInRole(SD.UserRole.ADMIN.ToString()))
                    {
                        <li class="nav-item dropdown">                     
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Management</a>
                            <div class="dropdown-menu text-dark bg-dark" style="background: rgb(207, 226, 255);">
                                <a class="dropdown-item" asp-controller="Room" asp-action="Index">Room</a>
                                <a class="dropdown-item" asp-controller="RoomNumber" asp-action="Index">Room Number</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Amenity" asp-action="Index" >Amenity</a>
                                <a class="dropdown-item" asp-controller="RoomAmenity" asp-action="Index">Room Amenity</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Booking List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Index">Register</a>
                            </div>
                        </li>
                    }
                     @if (_SignInManager.IsSignedIn(User) && User.IsInRole(SD.UserRole.CUSTOMER.ToString()))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Booking" asp-action="Index">Booking List</a></li>
                    }
                </ul>
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <label class="col-form-label fw-bold text-light" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="left" title="Number of bookings">[ <span class="text-primary">5</span> ]</label>
                    </li>
                   
                    @if (_SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Welcome, @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">                       
                            <a class="nav-link btn-logout" href="#">Logout</a>                   
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="btn-login-modal" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-register">Register</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="loginModalLabel">LOGIN USER</h5>                    
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" autofocus autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" autocomplete="new-password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                    <button type="button" class="btn btn-primary btn-login" style="width:100px;">Login</button>
                </div>
            </div>
        </div>
    </div>

    <!--End Login Modal -->

    <!-- Register Modal -->
    <div class="modal fade" id="modal-register" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="registerModalLabel">REGISTER USER</h5>
                </div>
                <div class="modal-body">
                    <form id="registerForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="remail" name="remail" placeholder="Enter email" autofocus autocomplete="off">
                            <span id="email-validation"></span>
                          
                        </div>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Fullname</label>
                            <input type="text" class="form-control" id="rfullname" name="rfullname" placeholder="Enter fullname" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="phoneno" class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="rphoneno" name="rphoneno" placeholder="Enter phone number" autocomplete="off">
                        </div>
                         <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="rpassword" name="rpassword" placeholder="Enter password" autocomplete="new-password">
                        </div>
                         <div class="mb-3">
                            <label for="confirmpass" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="rconfirmpass" name="rconfirmpass" placeholder="Re-enter password" autocomplete="new-password"> 
                        </div>                      
                     
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                    <button type="button" class="btn btn-primary btn-register" style="width:100px;">Register</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Register Modal -->

    <div class="container-fluid">
        <main role="main" class="pb-3 min-vh-100">               
            @RenderBody()            
        </main>
    </div>

  
    <footer class="pt-5 bg-dark-subtle">   
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Services</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Cleaning</a></li>
                        <li><a class="link-light" href="#">Repair</a></li>
                        <li><a class="link-light" href="#">Delibery</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Products</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Features</a></li>
                        <li><a class="link-light" href="#">Pricing</a></li>
                        <li><a class="link-light" href="#">Integration</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Company</a></li>
                        <li><a class="link-light" href="#">Team</a></li>
                        <li><a class="link-light" href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Careers</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Job openings</a></li>
                        <li><a class="link-light" href="#">Employee success</a></li>
                        <li><a class="link-light" href="#">Benefits</a></li>
                    </ul>
                </div>              
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0">Rolimer Pono © 2024&nbsp;</p>
                    <ul class="list-inline mb-0 text-white">
                        <li class="list-inline-item"><span class="bi bi-universal-access-circle"></span></li>
                        <li class="list-inline-item"><span class="bi bi-github"></span></li>
                        <li class="list-inline-item"><span class="bi bi-linkedin"></span></li>
                        <li class="list-inline-item"><span class="bi bi-twitter"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
  

    <script src="~/js/bs-init.js"></script>  
    <script src="~/js/Layout/Home/JSAccount.js"></script>    
    <script src="~/js/Crud/JSBooking/JSBookingCrud.js"></script>
   

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
