@model AmenityOnly

<form id="form-add">
   @*  <div asp-validation-summary="All" class="text-danger"></div> *@
    <div class="modal-body">
        <div class="row">          
            <div class="col-md-12 pt-md-0 pt-3">              
                <div class="mb-3">
                    <label class="form-label fw-bold">Room Name:</label>
                    <input type="text" class="form-control" asp-for="@Model.AMENITY_NAME" placeholder="Enter Amenity Name" required>
                    <div class="invalid-feedback">Please provide a amenity name.</div>                     
                </div>          
            </div>
        </div>
    </div> 
</form>









