@model Booking

<div class="row border border-1 pt-3">
    <div class="col-lg-6">
        <div class="border border-1">
            <span>Room Details</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="border border-1">
            <span>PAYMENT INFO</span>
        </div>
    </div>
</div>