@model Booking

<div class="row border border-1 pt-3">
    <div class="col-lg-6">
        <div class="border border-1">
            <span>Room Details</span>
            <span>@Model.ROOM_ID</span>
            <span>@Model.ROOM.ROOM_NAME</span>
            <span>@Model.CHECK_IN_DATE</span>
            <span>@Model.CHECK_OUT_DATE</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="border border-1">
            <span>PAYMENT INFO</span>
        </div>
    </div>
</div>