@model RoomAmenityVM
<div id="selected_room">
    <div class="border p-5">
        <form>
            <div class="row">
                <div class="col-md-12 pt-md-0">
                    @foreach (var item in Model.AMENITIES)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="selected-item-(@item.ID)" @if (item.ID == 0)
                            {
                                <text>checked="checked"</text>
                            } />
                            <label class="form-check-label" for="selected-item-(@item.ID)">@item.AMENITY_NAME</label>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>