<!-- Booking Modal -->
<div class="modal fade" id="modal-booking" tabindex="-1" aria-labelledby="modalbookingDetails" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white fw-bold" id="modalbookingDetails">BOOKING DETAILS</h5>
            </div>
            <div class="pt-3" id="modal-booking-content">
            </div>
            <div id="footer-content">
            </div>
        </div>
    </div>
</div>
<!--End Booking Modal -->
