@model Booking

<div class="row justify-content-center pt-5">
    <div class="col-lg-12 text-center">
        <h2>Thank you for booking with us!</h2>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                
                <tbody>                  
                    <tr>
                        <td scope="col">Booking Date : </td>
                        <td scope="col">04-15-2024</td>
                        <td scope="col" colspan="2"></td>
                        <td scope="col">Printed Date :</td>
                        <td scope="col">04-15-2024</td>
                    </tr>                    
                    <tr>
                        <td scope="col">Booking Date : </td>
                        <td scope="col">04-15-2024</td>
                        <td scope="col" colspan="2"></td>
                        <td scope="col">Printed Date :</td>
                        <td scope="col">04-15-2024</td>
                    </tr>
                    <tr>
                        <td scope="col">Booking Date : </td>
                        <td scope="col">04-15-2024</td>
                        <td scope="col" colspan="2"></td>
                        <td scope="col">Printed Date :</td>
                        <td scope="col">04-15-2024</td>
                    </tr>
                    <tr>
                        <td>Row 4, Column 1</td>
                        <td>Row 4, Column 2</td>
                        <td>Row 4, Column 3</td>
                        <td>Row 4, Column 4</td>
                        <td>Row 4, Column 5</td>
                        <td>Row 4, Column 6</td>
                    </tr>
                    <tr>
                        <td>Row 5, Column 1</td>
                        <td>Row 5, Column 2</td>
                        <td>Row 5, Column 3</td>
                        <td>Row 5, Column 4</td>
                        <td>Row 5, Column 5</td>
                        <td>Row 5, Column 6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

