@{
    var user_role = string.Empty;

    if (User.IsInRole(SD.UserRole.Admin.ToString()))
    {
        user_role = SD.UserRole.Admin.ToString();
    }
    else
    {
        user_role = SD.UserRole.Customer.ToString();
    }
  
}

<div class="container"> 
 
    <div class="row pt-3">
        <div class="col">
            <div class="text-center text-white"><h2>BOOKING LIST</h2></div>
        </div>
    </div>

    <input id="user_role" type="hidden" value="@user_role" hidden />

    <div class="row mt-3 justify-content-end text-end">
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
            <div class="btn-group-toggle btn-group d-flex flex-wrap" data-toggle="buttons">                
                <a id="pending" class="btn btn-primary rounded-0 bg-success">
                    Pending
                    <input class="btn-check" type="radio"  id="option1" autocomplete="off">
                </a>
                <a id="approved" class="btn btn-primary rounded-0">
                    Approved
                    <input class="btn-check" type="radio" id="option2" autocomplete="off">
                </a>
                <a id="checkin" class="btn btn-primary rounded-0">
                    Checkin
                    <input class="btn-check" type="radio" id="option3" autocomplete="off">
                </a>
                <a id="checkout" class="btn btn-primary rounded-0">
                    Checkout
                    <input class="btn-check" type="radio" id="option4" autocomplete="off">
                </a>
                <a id="cancelled" class="btn btn-primary rounded-0">
                    Cancelled
                    <input class="btn-check" type="radio" id="option5" autocomplete="off">
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table id="tbl_Bookings" class="table table-bordered table-hover text-start" style="border: 1px thin #ccc;">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Booking ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>No of Stay</th>
                        <th>Total Cost</th>
                        <th class="text-center"></th>                       
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>  
</div>

<partial name="Modal/Booking/_BookingModal" />

@section Scripts {
    <script src="~/js/Common/Common.js"></script>
    <script src="~/js/Crud/JSBooking/JSBooking.js"></script> 
}