@model Booking

@{
    var current_date = DateTime.Now.ToString("yyyy-MM-dd");

}
<div class="container pt-5">
   
</div>

<div class="container pt-5">
    <span>SORRY, SOMEONE ALREADY TAKEN THE ROOM WHILE YOU ARE PROCESSING. TRANSACTION FAIL.</span>
</div>
