@inject UserManager<ApplicationUser> _UserManager
@inject SignInManager<ApplicationUser> _SignInManager

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]RPRENTAL</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">@*
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> *@
    <link rel="stylesheet" href="~/css/datables.bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ADLaM+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/admin/sidebar.css" /> 


</head>

<body>  

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark-subtle sidebar collapse">
        <div class="position-sticky">
            <ul class="nav flex-column">
                <!-- Logo Holder -->
                <li class="nav-item logo-holder">
                    <div class="text-center text-white logo py-4 mx-4">
                        <a class="text-white text-decoration-none" id="title" href="#"><strong>Sidebar</strong></a>
                        <a class="text-white float-end" id="sidebarToggleHolder" href="#"><i class="fas fa-bars" id="sidebarToggle"></i></a>
                    </div>
                </li>
                <!-- Dashboard Link -->
                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">Dashboard</span>
                    </a>
                </li>
                <!-- User Profile Link -->
                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">Home</span>
                    </a>
                </li>
                <!-- Support Tickets Link -->
                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">About</span>
                    </a>
                </li>
                <!-- Archive Link -->
                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">Gallery</span>
                    </a>
                </li>
                <!-- Statistics Link -->
                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">Services</span>
                    </a>
                </li>
             

                <!-- Settings Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link text-white py-1 px-0 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="m-3">Manage</span>
                        <i class="bi bi-caret-right" id="settingsIcon"></i>
                    </a>
                    <ul class="dropdown-menu border-0">
                        <!-- Added 'dropdown-menu-end' class -->
                        <li><a class="dropdown-item text-white" href="#">Room</a></li>
                        <li><a class="dropdown-item text-white" href="#">Room Number</a></li>
                        <li><a class="dropdown-item text-white" href="#">Amenity</a></li>
                        <li><a class="dropdown-item text-white" href="#">Room Amenity</a></li>
                        <li><a class="dropdown-item text-white" href="#">Register</a></li>
                    </ul>
                </li>



                <li class="nav-item">
                    <a class="nav-link text-white py-1 px-0" href="#">
                        <span class="m-3">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  


    <div class="container-fluid">
        <main role="main" class="pb-3 min-vh-100">
            @RenderBody()
        </main>
    </div>

    <footer class="pt-5 bg-dark-subtle">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Services</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Cleaning</a></li>
                        <li><a class="link-light" href="#">Repair</a></li>
                        <li><a class="link-light" href="#">Delibery</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Products</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Features</a></li>
                        <li><a class="link-light" href="#">Pricing</a></li>
                        <li><a class="link-light" href="#">Integration</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Company</a></li>
                        <li><a class="link-light" href="#">Team</a></li>
                        <li><a class="link-light" href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-3 text-white text-uppercase fw-bold">Careers</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-light" href="#">Job openings</a></li>
                        <li><a class="link-light" href="#">Employee success</a></li>
                        <li><a class="link-light" href="#">Benefits</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0">Rolimer Pono © 2024&nbsp;</p>
                    <ul class="list-inline mb-0 text-white">
                        <li class="list-inline-item"><span class="bi bi-universal-access-circle"></span></li>
                        <li class="list-inline-item"><span class="bi bi-github"></span></li>
                        <li class="list-inline-item"><span class="bi bi-linkedin"></span></li>
                        <li class="list-inline-item"><span class="bi bi-twitter"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>

    <script src="~/js/bs-init.js"></script>
    <script src="~/js/Layout/Home/JSAccount.js"></script>
    <script src="~/js/Crud/JSBooking/JSBookingCrud.js"></script>
    <script src="~/js/Admin/sidebar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


